body {
    background-image: url("Swapnil.jpg"),url("Swap.jpg"),url("bg.jpg");
    border-spacing: 10px;
    background-repeat: no-repeat;
    /*background-position: 0% 0%,100% 0%;*/
    background-position: 1% 0.3cm,99% 0.3cm, 0 0;
    background-color: black;
}

.wish {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 430px;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    color: white;
    letter-spacing: 0.1em;
    font-family: 'Pacifico', cursive;
   /* background: -webkit-linear-gradient(#ffff00, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite ease-in-out;*/
}
 
@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
 
    50% {
        -webkit-filter: hue-rotate(360deg);
        transform: scale(1.2) rotate(5deg);
    }
}
 .text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 91%;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-family: 'Pacifico', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}
.credits {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 95%;
    width: 99%;
    font-size: 1em;
    text-align: right;
    color: white; 
    font-family: 'Pacifico', cursive;
}
